/**************************************************************/
/* General Stylings */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.head {
  margin-inline: Auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.main {
  background: #e5e5e5;
  border: #6a1cc3;
  width: 390px;
  height: 846px;
}

.head {
  height: 100px;
  background-color: #6a1cc3;
}

h1 {
  font-size: 1rem;
  font-family: "Montserrat";
  font-style: normal;
  text-transform: uppercase;
  color: #fbfbfb;
}

.selector {
  margin-left: 1em;
  margin-top: 2em;
  font-family: "Montserrat";
  font-style: normal;
}

.selector-heading {
  font-size: 1rem;
  text-transform: uppercase;
  color: #6a1cc3;
}

.selector-text {
  font-size: 0.725rem;
  color: rgba(0, 0, 0, 0.6);
}

.selector-input {
  background: url(/Image/magnifying-icon.svg) no-repeat scroll 7px 7px;
  border: 5px solid hsl(0, 86%, 36%);
  padding-left: 4px;
  font-size: 20px;
}

.selection {
  display: inline-block;
}
.selection-heading {
  font-size: 1rem;
  font-family: "Montserrat";
  font-style: normal;
  color: #000000;
}

.avatar-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  width: 3em;
  height: 3em;
  border-radius: 0.5rem;
  margin-left: 1em;
}

.avatar-img {
  width: 60%;
}

.user-selection {
  margin-inline: auto;
  display: flex;
  align-items: center;
  margin-left: 1em;

  gap: 2em;
  border-style: solid;
  border-radius: 0.75rem;
  border-width: 0.25em;
  font-size: 1rem;
  color: #6a1cc3;
}
