/**************************************************************/
/* General Stylings */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

body {
  margin: 0;
}

*::selection {
  background-color: plum;
}

/**************************************************************/
/* Specific Stylings */

.header {
  padding: 3rem 1rem;
  padding-top: 4.5rem;
  text-align: center;
  background-color: #eee;
  position: relative;
}

.heading-group {
  font-size: 4rem;
}

.main-heading {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.profession::after {
  content: "🕺";
}

.hire-me {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: plum;
  color: black;
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me {
    display: none;
  }

  .navigation {
    display: none;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

.nav-link {
  padding: 0.25rem 0.5rem;
  color: black;
}

.nav-link:hover {
  color: black;
  background-color: lightgray;
}

.nav-link:active {
  color: white;
  background-color: grey;
}

@media screen and (min-width: 768px) {
  .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.main {
  max-width: 60ch;
  margin: 0 auto;
  padding: 1rem;
}

.main > * + * {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 5rem;
  }
}

.main > * {
  border-top: 0.125rem solid grey;
  padding: 0 1rem;
}

.main > *:first-child {
  border-top: none;
}

.article-heading {
  position: relative;
  left: -1rem;
}

.experience-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}
